CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/
.vs/
scratch/
.vscode/c_cpp_properties.json
third_party/magic_enum
out/
*.pyc
*.png
__pycache__/
