[submodule "third_party/slang"]
	path = third_party/slang
	url = https://github.com/shader-slang/slang
[submodule "third_party/xxHash"]
	path = third_party/xxHash
	url = https://github.com/Cyan4973/xxHash
