[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/google/glslang
[submodule "third_party/shaderc"]
	path = third_party/shaderc
	url = https://github.com/google/shaderc
[submodule "third_party/spirv-cross"]
	path = third_party/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "third_party/spirv-tools"]
	path = third_party/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "third_party/metastuff"]
	path = third_party/metastuff
	url = https://github.com/eliasdaler/metastuff
[submodule "third_party/nlohmann"]
	path = third_party/nlohmann
	url = https://github.com/nlohmann/json

[submodule "third_party/spirv-headers"]
	path = third_party/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "third_party/luajit"]
	path = third_party/luajit
	url = https://github.com/LuaDist/luajit
[submodule "third_party/sol2"]
	path = third_party/sol2
	url = https://github.com/ThePhD/sol2
[submodule "third_party/mango"]
	path = third_party/mango
	url = https://github.com/t0rakka/mango
